@font-face {
  font-family: 'adventure';
  src: url('../fonts/Adventure.ttf'); 
}

@font-face {
  font-family: 'adventureOutline';
  src: url('../fonts/adventureOutline.ttf');
}

#frontend-productivity {
  font-family: 'adventureOutline';
}

.reveal .personal, .reveal .projects {
  display: block;
  list-style-type: none;
  font-size: 1em;
  margin-bottom: 1em;
}

.about-me small {
  display: block
}

.about-me p {
  font-size: 1em;
  text-align: left;
  padding: 0.8em .7em 0;
}

.reveal section img {
  border: 0;
  box-shadow: 0 0 0;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides p,
.reveal .slides a,
.reveal .slides li {
  font-size: .9em !important;
}

.reveal pre {
  margin: 0;
}

.reveal pre code {
  padding: 15px;
}

.reveal p code {
  font-size: .8em !important;
}