@import "~@schibstedspain/sui-atom-button/lib/index.scss";
@import "~@s-ui/react-molecule-input-field/lib/index.scss";
@import "~@s-ui/react-molecule-textarea-field/lib/index.scss";

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.App {
    background: white;
    width: 600px;
    height: 80vh;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .2);
    padding: 20px;
}

.links {
    display: flex;
    margin: 30px 0;
    padding: 30px 0;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, .2);
    a {
        text-decoration: none;
        font-weight: bold;
        margin-right: 20px;
        color: rgb(65, 65, 65);
    }
}